body {
    font-family: 'Open Sans Condensed';
    padding: 20px 60px;
}

/*Link is still rendered as an a tag, as you can see in React dev tools*/
a {
    text-decoration: none;
    color: black;
}

* {
    /*to remove default additional padding on sign-in input form and ensure buttons align with the form*/
    box-sizing: border-box;
}